<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socialmap.yy.travelbox">
    <uses-sdk android:minSdkVersion="11"/>
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 高德地图需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />







    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="735eb0f14a5ab8fe23a646435e68f798" />

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_title" />
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".AllTeamActivity"
            android:label="@string/app_name"/>
        <activity android:name=".MainActivity">
            android:windowSoftInputMode="adjustPan"
        </activity>

        <service android:name=".service.AccountService">
            <intent-filter>
                <action android:name="com.socialmap.yy.travelbox.ACCOUNT_SERVICE" />
            </intent-filter>
        </service>

        <activity android:name=".NearbyActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SettingTabActivity" />
        <activity android:name=".ComplainActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".historyActivity" />
        <activity android:name=".LocationManagerActivity" />
        <activity android:name=".TeamDetailActivity" />
        <activity android:name=".TeamFindActivity" />
        <activity android:name=".TeamGatherActivity" />
        <activity android:name=".TeamHistoryActivity" />




        <activity android:name=".Setting1Activity" />
        <activity android:name=".Setting2Activity" />
        <activity android:name=".Setting3Activity" />
        <activity android:name=".Setting4Activity" />
        <activity android:name=".Setting5Activity" />
        <activity android:name=".Setting6Activity" />
        <activity android:name=".Setting7Activity" />







    </application>


</manifest>
